<div *ngIf="loading">Loading...</div>
<div *ngIf="error" class="error">{{ error }}</div>
<div *ngIf="!loading && !error">
  <div class="tab-group">
    <button type="button" [class.active]="activeTab === 'basic'" (click)="activeTab = 'basic'">Basic Information</button>
    <button type="button" [class.active]="activeTab === 'contact'" (click)="activeTab = 'contact'">Contact Information</button>
  </div>
  <div class="tab-content">
    <form class="prefix-form" *ngIf="activeTab === 'basic'" #identityForm="ngForm">

      <label for="prefix">Prefix</label>
      <select id="prefix" [(ngModel)]="selectedPrefix" name="prefix">
        <option [ngValue]="null">Select a prefix</option>
        <option *ngFor="let prefix of prefixes" [ngValue]="prefix.prefixsuffixid">{{ prefix.description }}</option>
      </select>

      <label for="firstName">First Name<span style="color:red">*</span></label>
      <input id="firstName" name="firstName" [(ngModel)]="firstName" required />

      <label for="middleName">Middle Name</label>
      <input id="middleName" name="middleName" [(ngModel)]="middleName" />

      <label for="lastName">Last Name<span style="color:red">*</span></label>
      <input id="lastName" name="lastName" [(ngModel)]="lastName" required />

      <label for="suffix">Suffix</label>
      <select id="suffix" [(ngModel)]="selectedSuffix" name="suffix">
        <option [ngValue]="null">Select a suffix</option>
        <option *ngFor="let suffix of suffixes" [ngValue]="suffix.prefixsuffixid">{{ suffix.description }}</option>
      </select>

      <label for="previousLastName">Previous Last Name</label>
      <input id="previousLastName" name="previousLastName" [(ngModel)]="previousLastName" />

      <label for="preferredName">Preferred Name</label>
      <input id="preferredName" name="preferredName" [(ngModel)]="preferredName" />

      <label for="dob">Date of Birth<span style="color:red">*</span></label>
      <input id="dob" name="dob" type="date" [(ngModel)]="dob" required />

      <label for="ssn">Social Security Number<span style="color:red">*</span></label>
      <input id="ssn" name="ssn" [(ngModel)]="ssn" required maxlength="11" placeholder="XXX-XX-XXXX" />

      <label for="sex">Sex<span style="color:red">*</span></label>
      <select id="sex" name="sex" [(ngModel)]="selectedSex" required>
        <option [ngValue]="null">Select sex</option>
        <option *ngFor="let sex of sexes" [ngValue]="sex.sexid">{{ sex.description }}</option>
      </select>


      <label for="country">Country of Birth</label>
      <select id="country" name="country" [(ngModel)]="selectedCountry" (ngModelChange)="onCountryChange()">
        <option [ngValue]="null">Select a country</option>
        <option *ngFor="let country of countries" [ngValue]="country.geographyId">{{ country.geographyName }}</option>
      </select>

      <ng-container *ngIf="selectedCountry">
        <ng-container *ngIf="isUsOrCanada; else stateTextField">
          <label for="state">State of Birth<span style="color:red">*</span></label>
          <select id="state" name="state" [(ngModel)]="selectedState" required>
            <option [ngValue]="null">Select a state</option>
            <option *ngFor="let state of states" [ngValue]="state.geographyId">{{ state.geographyName }}</option>
          </select>
        </ng-container>
        <ng-template #stateTextField>
          <label for="state">State of Birth<span style="color:red">*</span></label>
          <input id="state" name="state" [(ngModel)]="stateText" required />
        </ng-template>
      </ng-container>

      <label for="city">City of Birth<span style="color:red">*</span></label>
      <input id="city" name="city" [(ngModel)]="city" required />

    </form>
    <form class="prefix-form" *ngIf="activeTab === 'contact'" #contactForm="ngForm">
      <!-- Email -->
      <label for="emailType">Email Type<span style="color:red">*</span></label>
      <select id="emailType" name="emailType" [(ngModel)]="selectedEmailType" required>
        <option [ngValue]="null">Select email type</option>
              <option *ngFor="let type of emailTypes" [ngValue]="type.contactTypeId">{{ type.contactTypeName }}</option>
      </select>
      <label for="primaryEmail">Primary Email Address<span style="color:red">*</span></label>
      <input id="primaryEmail" name="primaryEmail" [(ngModel)]="primaryEmail" required type="email" />
      <!-- Phone -->
      <label for="phoneType">Phone Type<span style="color:red">*</span></label>
      <select id="phoneType" name="phoneType" [(ngModel)]="selectedPhoneType" required>
        <option [ngValue]="null">Select phone type</option>
              <option *ngFor="let type of phoneTypes" [ngValue]="type.contactTypeId">{{ type.contactTypeName }}</option>
      </select>
      <label for="primaryPhone">Primary Phone Number<span style="color:red">*</span></label>
      <input id="primaryPhone" name="primaryPhone" [(ngModel)]="primaryPhone" required />
      <!-- Address -->
      <label for="addressType">Address Type<span style="color:red">*</span></label>
      <select id="addressType" name="addressType" [(ngModel)]="selectedAddressType" required>
        <option [ngValue]="null">Select address type</option>
              <option *ngFor="let type of addressTypes" [ngValue]="type.contactTypeId">{{ type.contactTypeName }}</option>
      </select>
      <label for="addressLine1">Address Line 1<span style="color:red">*</span></label>
      <input id="addressLine1" name="addressLine1" [(ngModel)]="addressLine1" required />
      <label for="addressLine2">Address Line 2</label>
      <input id="addressLine2" name="addressLine2" [(ngModel)]="addressLine2" />
      <label for="contactCountry">Country<span style="color:red">*</span></label>
      <select id="contactCountry" name="contactCountry" [(ngModel)]="contactSelectedCountry" (ngModelChange)="onContactCountryChange()" required>
        <option [ngValue]="null">Select a country</option>
        <option *ngFor="let country of contactCountryList" [ngValue]="country.geographyId">{{ country.geographyName }}</option>
      </select>
      <ng-container *ngIf="contactSelectedCountry">
        <ng-container *ngIf="isContactUsOrCanada; else contactStateTextField">
          <label for="contactState">State<span style="color:red">*</span></label>
          <select id="contactState" name="contactState" [(ngModel)]="contactSelectedState" required>
            <option [ngValue]="null">Select a state</option>
            <option *ngFor="let state of contactStates" [ngValue]="state.geographyId">{{ state.geographyName }}</option>
          </select>
        </ng-container>
        <ng-template #contactStateTextField>
          <label for="contactState">State<span style="color:red">*</span></label>
          <input id="contactState" name="contactState" [(ngModel)]="contactStateText" required />
        </ng-template>
      </ng-container>
      <label for="contactCity">City<span style="color:red">*</span></label>
      <input id="contactCity" name="contactCity" [(ngModel)]="contactCity" required />
      <label for="contactZip">ZIP Code<span style="color:red">*</span></label>
      <input id="contactZip" name="contactZip" [(ngModel)]="contactZip" required />
    </form>
  </div>
</div>