<div class="menu-bar">
  <app-hamburger-menu></app-hamburger-menu>
</div>
<div class="logo-container">
  <img src="/assets/EagleLogo.jpeg" alt="Eagle Logo" class="eagle-logo" />
</div>
<div class="welcome-message">
  <h1>Welcome to Eagle HR</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque euismod, nisi eu consectetur consectetur, nisl nisi consectetur nisi, euismod euismod nisi nisi euismod.</p>
  <p>Aliquam erat volutpat. Etiam ac erat sit amet erat facilisis dictum. Suspendisse potenti. Mauris euismod, nisi eu consectetur consectetur, nisl nisi consectetur nisi, euismod euismod nisi nisi euismod.</p>
</div>
